<div class="landing-page">
  <div class="login-panel" id="login-panel-id">
    <img src="images/logo.png" alt="logo" />
    <form class="" action="index.html" method="post">
      <input type="text" name="" placeholder="Login" />
      <input type="password" name="" placeholder="Hasło" />
      <a href="#!/menu"><input type="button" name="" value="Zaloguj" /></a>
    </form>
    <div class="extra-links">
      <a href="#">Zapomniałem hasła</a><br/>
      <a href="#">Zarejestruj</a>
    </div>
  </div>
</div>
