<div class="menu-page">
<header class="header-menu">
  <div class="cell-14">
    <div class="inner">
      <img src="images/logo.png" alt="logo" />
    </div>
    <div class="inner">
      <span>Śniadanie</span>
    </div>
    <div class="inner">
      <span>Obiad</span>
    </div>
    <div class="inner">
      <span>Kolacja</span>
    </div>
  </div>
  <div class="cell-14">
    <div class="inner">
      <span>Poniedziałek</span>
    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
  </div>
  <div class="cell-14">
    <div class="inner">
      <span>Wtorek</span>
    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
  </div>
  <div class="cell-14">
    <div class="inner">
      <span>Środa</span>
    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
  </div>
  <div class="cell-14">
    <div class="inner">
      <span>Czwartek</span>
    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
  </div>
  <div class="cell-14">
    <div class="inner">
      <span>Piątek</span>
    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
    <div class="inner cell-order">

    </div>
  </div>
  <div class="cell-14">
    <div class="inner">

    </div>
    <div class="inner cell-button">
      <span>Wybierz menu</span>
    </div>
    <div class="inner cell-button">
      <span>Zamawiam</span>
    </div>
    <div class="inner cell-button">
      <span>Filtry</span>
    </div>
  </div>

</header>
<main>
  <div food application-name="Tomek's app right here"></div>
  <my-food ng-click="menu.showCurtain(this)" ng-repeat="item in menu.items" source="{{item.source}}" food-name="{{item.name}}"></my-food>

</main>
<footer>
  Wszelkie prawa zastrzeżone @2017 Healthy diet

</footer>


</div>
