<div class="cell-food">
  <div class="curtain">
    <span></span>
  </div>
  <div class="days">
    <div ng-click="dayClick({dzien: 'pon', jedzenie: foodName})"><p>Poniedziałek</p></div>
    <div ng-click="dayClick({dzien: 'wt', jedzenie: foodName})"><p>Wtorek</p></div>
    <div ng-click="dayClick({dzien: 'sr', jedzenie: foodName})"><p>Środa</p></div>
    <div ng-click="dayClick({dzien: 'czw', jedzenie: foodName})"><p>Czwartek</p></div>
    <div ng-click="dayClick({dzien: 'pt', jedzenie: foodName})"><p>Piątek</p></div>
    <div><p>?</p></div>
  </div>
  <div class="meals">
    <div ng-click="mealClick({pora: 'snia'})"><p>Śniadanie</p></div>
    <div ng-click="mealClick({pora: 'obiad'})"><p>Obiad</p></div>
    <div ng-click="mealClick({pora: 'kola'})"><p>Kolacja</p></div>
  </div>
  
  {{foodName}}<br/>
  <img ng-src="images/{{source}}" alt="{{foodName}} - zdjęcie" />
</div>
